<!-- JAVI -->
<div class="container-fluid">
  <div class="col">
    <h3>Nuevo usuario:</h3>
  </div>

  <form [formGroup]="userData">  
    <div class="form-group">
      <label>Nombre:</label>
      <input [class.is-invalid] = "username?.invalid && username?.touched"
      type="text" placeholder="Naruto Uzumaki" class="form-control" formControlName="username" />

      <div *ngIf="(username?.invalid && username?.touched) || username?.dirty">
        <small *ngIf="username?.errors && username?.hasError('required')" class="text-danger">Username es obligatorio</small>
      </div>      
    </div>
  
    <div class="form-group">
      <label>Email:</label>
      <input [class.is-invalid] = "email?.invalid && email?.touched"
      type="email" placeholder="Email address" class="form-control" formControlName="email" />

      <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
        <small *ngIf="email?.errors && email?.hasError('required')" class="text-danger">Email es obligatorio</small>
        <small *ngIf="email?.errors && email?.hasError('pattern')" class="text-danger">La dirección de correo no es válida</small>
      </div>      
    </div>
  
  </form>    
</div>

<!-- END JAVI-->


<div class="container">

  <div class="col">
    <h1>Formulario anterior</h1>
  </div>

  <form class="form-group row" enctype="multipart/form-data">

    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input 
        type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
        [(ngModel)]="cuadroNombre"
        [class.input-rojo]="rojo_nombre"
      />
      <label for="email">Email:</label>
      <input
        type="email" name="email" id="email" placeholder="Email" class="form-control"
        [(ngModel)]="cuadroEmail"
        [class.input-rojo]="rojo_email"  
      >
      <label for="foto">Foto:</label>
      <input
        type="file" name="foto" id="foto" class="form-control" (change)="onFileSelected($event)">
    </div>

    <br>

    <div style="margin-top: 20px;">
      <button type="submit" class="btn btn-primary" (click)="process_button()">Agregar</button>
    </div>

  </form>

  <br>

  <div *ngIf="mostrar_vacio;">{{vacio}}</div>

  <br>

  <div class="main_container">
    <div class="row">
      <div class="col">
        <div *ngFor="let user of users; let i=index">
          {{i+1}}: {{user.nombre}} ---- {{user.email}}
          <img *ngIf="user.foto" [src]="getUrl(user.foto)" alt="{{user.foto}}">
        </div>
      </div>
    </div>
  </div>

</div>


