<div class="container">

  <div class="col">
    <h1>FORMULARIO INFERNAL</h1>
  </div>

  <br>

  <br>

  <form class="form-group row" enctype="multipart/form-data">

    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input 
        type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
        [(ngModel)]="cuadroNombre"
        [class.input-rojo]="rojo_nombre"
      />
      <label for="email">Email:</label>
      <input
        type="text" name="email" id="email" placeholder="Email" class="form-control"
        [(ngModel)]="cuadroEmail"
        [class.input-rojo]="rojo_email"  
      >
      <label for="foto">Foto:</label>
      <input
        type="file" name="foto" id="foto" class="form-control" (change)="onFileSelected($event)">
    </div>

    <br>

    <div style="margin-top: 20px;">
      <button type="submit" class="btn btn-primary" (click)="process_button()">Agregar</button>
    </div>

  </form>

  <br>

  <div *ngIf="mostrar_vacio;">{{vacio}}</div>

  <br>

  <div class="main_container">
    <div class="row">
      <div class="col">
        <div *ngFor="let user of users; let i=index">
          {{i+1}}: {{user.nombre}} ---- {{user.email}}
          <img *ngIf="user.foto" [src]="getUrl(user.foto)" alt="{{user.foto}}">
        </div>
      </div>
    </div>
  </div>

</div>


